#canvas {
  width: 100%;
  height: calc(100% - 50px);
  /* outline: 1px solid rgb(0, 0, 0); */
}

.building-blocks {
  width: 70px;
  height: 70px;
  cursor: move; /* Set the cursor to indicate draggable element */
  pointer-events: auto; /* Allow pointer events on the element */

  /* -webkit-user-drag: none; 
  -khtml-user-drag: none; 
  -moz-user-drag: none; 
  -o-user-drag: none; */
}

/* .progressBarWrapper {
  display: flex;
  flex-direction: column;
} */

#progress-bar-percent {
  position: absolute;
  text-align: right;
  top: -40px;
  right: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.7em;
}

.progress-bar {
  width: 100%;
  height: 30px;
  background-color: #d0fbff;
  position: fixed; /* Fix the position to the bottom */
  bottom: 0;
}

.progress-bar-inner {
  height: 100%;
  background-color: #478f96;
  width: 0%;
  transition: width 0.3s ease-in-out;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Change the value to adjust the number of columns */
  grid-gap: 10px;
  /* Adjust the gap between grid items as needed */
  height: calc(100% - 30px);
  overflow: auto; /* Enable scrolling for grid content */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}
